<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Dado</title>
</head>
<body>
<h1>Actividad numero 1</h1>
  <h3>Direcciones:</h3>
  <ul>
    <li>/dado --> Muestra un numero random entre 1 y 6</li>
    <li>/fecha --> Muestra una fecha aleatoria entre 1970 y 2100 a menos que se le añada /[año] o /[año]/[mes] que nos devuelve una fecha con los parametros ingresados </li>
    <li>/color --> Muestra un color aleatorio</li>
    <li>/dado/[numero] --> Muestra numeros aleatorios entre 1 y 6 la cantidad de veces indicadas</li>
  </ul>
</body>
</html>
