<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Datos por pais</title>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>Acerca de</h1>
  <p>El dióxido de carbono (CO2) es el principal gas de efecto invernadero que se emite a raíz de las actividades del ser humano. El dióxido de carbono se hace presente de manera natural en la atmósfera como parte del ciclo del carbono de la Tierra (la circulación natural de carbono entre la atmósfera, los océanos, la tierra, las plantas y los animales). Las actividades del ser humano están alterando el ciclo del carbono: tanto porque suman más CO2 a la atmósfera como influenciando la capacidad de los disipadores naturales (como los bosques) para eliminar el CO2 de la atmósfera e influyendo sobre la capacidad de las tierras para almacenar carbono. Si bien las emisiones de CO2 provienen de diversas fuentes naturales, las emisiones relacionadas con las actividades del ser humano son las responsables del aumento que se ha registrado en la atmósfera desde la revolución industrial.
En particular, los datos a mostrar hacen referencia a las emisiones de CO2 como consecuencia de la quema de combustibles fósiles.</p>
    <h4>Los datos <i>per Capita</i> hacen referencia a la emisión por habitante del país, mientras que los datos <i>totales</i>, al total de emisiones del país en el año indicado</h4>

<a href="{{ url_for('index')}}">Volver al menu</a>
</body>
</html>